*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0px;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.up-now {
    display: none;
}
.container1 {
    background-image: url(./images/hulu-background-image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container1A {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    width: 100%;
    height: 10rem;
    background: linear-gradient(318.68deg, #0f495c, #0d3640 49.72%, #08141f); color: #ffffff;
}
.duo {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.ago {
    display: none;
}
.bund {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px
    
}
.bund h5 {
    color: greenyellow;
    font-size: 1rem
}
.bund p {
    font-size: 20px
}
.Get {
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
}
.Get button {
    width: 120px;
    height: 40px;
    padding: 10px;
    min-width: 63px;
    overflow: hidden;
    background-color: #1CC471;
    font-size: 12px;
    border-radius:4px;
    border: none;
    font-weight: 700;
    /* opacity: 0.5; */

}
.Get button:hover  {
    cursor: pointer;
    font-weight: 600;
    /* font-size: 14px; */
}

.Get a {
    color: #ffffff
}
.container1A img {
    /* width: ; */
    height: 90px;
}
.logo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.log-in {
    color: darkgrey;
    background-color: inherit;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}
.log-in:hover {
    background-color: #586174;
    font-weight: 700;
    border: none;
}
.disney {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.disney1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.disney1 h5 {
    color: #1CC471;
    font-size: 20px;
}
.disney1 img {
    width: 270px;
    height: 50px; 
}
.disney1 h3 {
    color: #fff;
    font-size: 16px;
    /* text-align: center; */
    width: 150px;
    justify-content: center;
}
.disney1 button {
    background-color: #1CC471;
    width: 280px;
    height: 35px;
    border: none;
    border-radius: 5px;
}
.disney1 a  {
    color: #fff;
}
.up a {
    display: flex;
    justify-content: center;
    color: #ffffff;
    align-items: center;
}
.container3 {
    padding: 25px 40px;
    width: 100%;
    height: 10rem;
    background-color: #1CC471;
    box-shadow: 5px 5px 7px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container3 h5 {
    padding: 10px;
    font-size: 22px;
    color: #ffffff;
    font-family: sans-serif;
}
.container3 button {
    width: 270px;
    height: 45px;
    font-size: 15px;
    background-color: inherit;
    border-radius: 7px;
    color: #ffffff;
    border: 2px solid white;
    opacity: 0.9;

}
.container3 button:hover {
    opacity: 1.0;
    cursor: pointer;
    background-color: #3c795a;
}
.container4 {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150vh;
    width: 100%;
    /* text-align: center; */
}
.container4 h5 {
    /* margin-top: 15px; */
    padding: 25px;
    text-align: center;
    font-size: 16px;
    color: #1CC471;
}
.container4 h2 {
    padding: 20px;
    color: #fff;
    text-align: center; 
    font-size: 34px;
}
.container4 p {
    padding: 25px;
    color: #fff;
    text-align: center; 
    font-size: 19px; 
    max-width: 850px;
    margin-inline: auto;

}
.pict {
    padding: 20px;
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
    width: 100%;
    height: 500px;
}
.image {
    border: 20px;
    opacity: 0.5;
    width: 23%;
    /* border-radius: 5px solid grey */
}
.image:hover {
    opacity: 1.0;
    border: 2PX solid gray;
    border-radius: 10PX;
}
.talks {
    /* padding-top: 40px; */
    background-color: #000;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #ffffff;
    width: 100%;
}
.talks h5 {
    color: #1CC471;
    font-size: 16px;
}
.talks h2 {
    font-size: 58px;
    margin: 0px;
    /* margin-top: -28px; */
    /* max-width: 600px; */
}
.talks h4 {
    color: #fff;
    text-align: center;
    margin-inline: auto;
    max-width: 610px;
    font-family: sans-serif;
}
.talks button {
    /* padding: 25px; */
    width: 140px;
    background-color: #1CC471;
    font-weight: 700;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    border: none;
    border-radius: 7px;
    margin-top: 15px;
    /* opacity: 0.6; */
}
.talks button:hover {
    opacity: 1;
    cursor: pointer;
    background-color: #3c795a;
}
.talks p {
    font-size: 12px;
    max-width: 928px;
}
.talks a {
    color: #ffffff;
    display: flex;
    gap: 7px;
    text-decoration: none;    
    border-bottom: 1px solid;
}
.fa-solid {
    height: 7px;
}
.rugby {
    background-image: url(./images/diff.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
}
.tags {
    display: flex;
    gap: 20px;
}
.and {
    justify-content: space-around;
    color: #ffffff;
    gap: 20px;
    font-size: 17px;
    text-decoration: none;
    opacity: 0.5;
    /* display: flex;
    flex-direction: row; */
}
.and:hover {
    opacity: 0.2;
}
.bold {
    border-bottom: 4px solid white;
    opacity: 1.0;
    justify-content: space-around;
    color: #ffffff;
    gap: 20px;
    font-size: 17px;
    text-decoration: none;

}
.bold:hover {
    opacity: 0.7;
}
.rugby h1 {
    color: #ffffff;
    padding-top: 20px;
    font-size: 45px;
    padding-top: 12px;
    font-weight: 800;
}
.disclaim {
    max-width: 496px;
    color: #ffffff;
    margin-top: 20px;
}
.rugby p {
    max-width: 450px;
    color: #ffffff;
    margin-top: 20px;
}
.tag-pic {
    display: flex;
    padding-top: 25px;
    gap: 20px;
}
.tag-pic img {
    width: 50px;
    height: 50px;
}
.data {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 70px;

}
.link {
    color: #ffffff;
}
.container5 {
    padding-top: 50px;
    background-color: #000;
    width: 100%;
}
.A5 h1 {
    text-align: center;
    font-weight: 800;
    color: #f1f1f1;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.A5 p {
    padding-top: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 18px;
    color: #f1f1f1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.A5 h5 {
    text-align: center;
    font-weight: 800;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #f1f1f1;
}
.y1 {
    background-color: #ffffff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.x1 {
    position: relative;
    display: inline-block;
}
.z1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.z1 a {
    color: black;
    padding: 12px 16px 10px 10px;
    text-decoration: none;
    display: block;
}
.z1 .a:hover {
    background-color: #f1f1f1
}
.x1:hover .z1 {
    display: block;
}
.x1:hover .y1 {
    background-color: #ffffff;
}
.duo-5 {
    display: flex;
    /* gap: 60px; */
}
.duo button {
    width: 180px;
    height: 40px;
    border-radius: 15px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.duo button:hover {
    cursor: pointer;
    color: bisque;
    opacity: 1.5;
}
.est h5 {
    padding-top: 5px;
    width: 120px;
    text-align: center;
    height: 25px;
    background-color: #1CC471;
    border-radius: 12px;
}
.two {
    display: flex;
    gap: 15px;
    padding: 10px;
}
.two1 img {
    width: 120px;
    height: 45px;
}
.two1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.two1 > h5 {
    font-size: 14px;
    max-width: 90px;
    margin-inline: auto;
    color: #f1f1f1;
    padding: 15px 0;
}
.two1 button {
    width: 280px;
    height: 42px;
    font-size: 14px;
    border: none;
    font-weight: 700;
}
.two1-2 {
    padding-top: 25px;
}
.two p {
    padding-top: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #f1f1f1;
}
.two1 button:hover {
    background-color: grey;
    cursor: pointer;
}
.lines {
    padding: 50px 150px;
    
}
.A1, .B1, .C1, .D1, .E1, .F1, .G1, .H1, .I1, .j1, .k1, .L1 {
    padding: 15px 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    /* gap: 30px; */
    font-size: 15px;
    color: #fff;
}

.A1 > p, .B1 > p, .C1 > p, .D1 > p, .E1 > p, .F1 > p, .G1 > p, .H1 > p, .I1 > p, .j1 > p, .k1 > p, .L1 > p {
    max-width: 300px;
}

.A2, .B2, .C2, .D2, .E2, .F2, .G2, .H2, .i2, .j2, .k2, .L2 {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-around;
    font-size: 15px;
    width: 360px;
    color: #1CC471;
}
.M {
    font-size: 12px;
    color: #fff;
    border-bottom: 1px solid #f1f1f1;
    padding: 10px 0px 30px 0px;
}
.M a {
    color: #fff;
}
.show {
    font-size: 30px;
    text-align: center;
    padding: 15px 0px 15px 0px;
    border-bottom: 1px solid #fff;
    color: #F1F2F4;
}
.container6 {
    background-color: black;
    padding: 50px 130px;
    min-height: 80vh;
    height: auto;
    color: #586174;
    background-color: #F1F2F4;
    width: 100%;
}
.dem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.browse {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
}
.browse h4 {
    font-weight: bold;
}
.browse-context {
    display: flex;
    gap: 20px;
}
.hlp2, .hlp3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
}
.hlp4 {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 
.hlp1, .help, .about-us {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
hr {
    margin-inline: auto;
    width: 100%;
}
.cons {
    display: flex;
    gap: 25px;
    padding: 50px 0px 0px 0;

}
.rights {
    padding: 20px 0px 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    font-size: 12px;
    font-weight: 500;
}
.tri {
    display: flex;
    gap: 5px;
}
.logo h2 {
    color: green;
}

.C2 {
    color: green;
   
}




@media screen and (max-width:1200px) {
    .pict {
        padding: 0 4px 45px;
    }
    .image {
        border: 4px solid hsla(0, 0%, 100%, 0);
        border-radius: 16px;
        padding: 4px;
    }
}

@media screen and (max-width: 1024px) {
    .container6 {
        padding-left: 44px;
        padding-right: 44px;
    }
    .lov {
        /* padding: 88px 20px 50px; */
        text-align: center;
        margin-top: 0;
    }
    .lov p {
        max-width: 680px;
        margin: 0 auto;
        padding-top: 16px;
    }
    .talks {
        /* max-width: 786px; */
        padding: 0;
    }
    .talks h5 {
        font-family: Graphik Web, Graphik, sans-serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: .6px;
        line-height: 1;
        text-transform: uppercase;
    }
    .tags {
        margin-left: 0;
        margin-right: 0;
        text-align: left;
    }
    .rugby h1 {
        font-family: "Graphik Web", sans-serif;
        font-size: 48px;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: -0.5px;
    }
}

@media screen and (max-width: 1107px) {

    .image {
        height: 100%;
        width: 100%;
    }
    .container4 {
        height: 230vh;
    }
    .pict {
        display: grid;
        grid-template-areas: 'one two' 'three four';
        gap: 1rem;
        height: auto;
        width: 70%;
    }

    .one {
        grid-area: one;
    }
    .second {
        grid-area: two;
    }
    .three {
        grid-area: three;
    }
    .four {
        grid-area: four;
    }
    
}











@media screen and  (max-width: 900px) {
    .up-now {
        display: block;
        width: 90%;
        background-color: #1CC471;
        font-size: 1.3rem;
        margin-bottom: 20px;
        position: fixed;
        bottom: 0;
        border: none;
        color: #fff;
        font-size: medium;
        padding: 15px;
        border-radius: 7px;
        z-index: 1;
        /* position: sticky; */
    }
    .rugby {
        background-image: url(./images/rugby.jpeg);
        align-items: center;
        background-position: 0 -30rem;
        text-align: center;
        background-color: #0b0c0f;
        background-blend-mode: normal;
        padding-top: 30px;
    }
    .A1, .B1, .C1, .D1, .E1, .F1, .G1, .H1, .I1, .j1, .k1, .L1 {
        flex-direction: column;
        gap: 10px;
    }
    .A2, .B2, .C2, .D2, .E2, .F2, .G2, .H2, .i2, .j2, .k2, .L2 {
        width: 100%;
        gap: 0;
    }
    .A2 p, .B2 p, .C2 p, .D2 p, .E2 p, .F2 p, .G2 p, .H2 p, .i2 p, .j2 p, .k2 p, .L2 p {
        width: 50%;
        text-align: center;
    }
    .A2 p:first-child, .B2 p:first-child, .C2 p:first-child, .D2 p:first-child, .E2 p:first-child, .F2 p:first-child, .G2 p:first-child, .H2 p:first-child, .i2 p:first-child, .j2 p:first-child, .k2 p:first-child, .L2 p:first-child {
        border-right: 1px solid #fff;
    }
    .lines {
        padding: 50px 0;
    }
    .log-in {
        display: none;
    }
    .ago {
        display: block;
        width: 30px;
        height: 30px;
        background-color: inherit;
    }
}

@media screen and  (max-width: 786px) {
    .lov {
        padding-top: 88px;
    }
    .talks {
        background-image: none;
        padding-bottom: 75px !important;
    }
    .talks h2 {
        font-family: Graphik Web, Graphik, sans-serif;
        font-size: 48px;
        font-weight: 600;
        letter-spacing: -.5px;
        line-height: 1.25;
        text-transform: none;
        text-align: center;
    }
    .talks h4 {
        margin: 18px 10% 0;
    }
    .A2 p:first-child, .B2 p:first-child, .C2 p:first-child, .D2 p:first-child, .E2 p:first-child, .F2 p:first-child, .G2 p:first-child, .H2 p:first-child, .i2 p:first-child, .j2 p:first-child, .k2 p:first-child, .L2 p:first-child {
        border-right: none;
    }
    .container3 {
        padding: 0;
        justify-content: space-around;
    }
}
@media screen and (max-width: 700px) {
    .container1A {
        display: flex;
        flex-direction: column;
        height: fit-content;

    }
    .container1 {
        height: fit-content;
    }
    .duo-5 {
        display: flex;
        flex-direction: column;
    }
    .disney1 h5 {
        font-size: 1rem;
        text-align: center;
    }
    .disney1 button {
        width: 80%;
    }
    .disney1 img {
        width: 80%
    }
    .container4 {
        height: 220vh;
    }
    .container6 {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 605px) {
    
    .talks {
        padding-bottom: 19px;
        height: 110vh;
    }

    .two {
        width: 100%;
        justify-content: space-between;
        gap: 0;
    }
    .two1 {
        width: 45%;
    }
    .two1 button {
        width: 100%;
    }
    .container4 {
        height: 140vh;
    }
    .rugby {
        padding: 0;
        height: 125vh;
    }    
}
@media screen and (max-width: 445px) {
}
@media screen and (max-width: 430px) {
    .disney1 h3 {
        text-align: center;
        font-size: 12px;
        
    }
    .disney1 button {
        color: #fff;
    }
    .up {
       font-size: 14px;
        padding-top: 5px;
    }
    .bund h5 {
        color: #1CC471;
        text-align: center;
    }
    .container3 {
        box-shadow: none;
    }
    .container3 h5 {
        max-width: 600px;
        text-align: center;
        font-weight: 600;
    }
    .container6 {
        padding: 15px 5px;
    }
    .talks h2 {
        font-size: 37px;
        text-align: center;
        padding-bottom: 61px;
    }
    .talks button {
        height: 30px;
        width: 140px;
    }
    .talks p {
        text-align: center;
        font-size: x-small;
    }
    .pict {
        height: 150vh;
    }
    
    .rugby {
        background-position: 0px -1rem;
    }
    .tags {
        width: 398px;
        justify-content: center;
    }
    .bold {
        font-size: 12px;
        padding: 0;
    }
    .and {
        font-size: 12px;
    }
    .rugby {
        padding: 0;
        height: 125vh;
    }
    .rugby h1 {
        font-size: 25px;
        padding: 24px 0px 0px 0px;
    }
    .disclaim {
        width: 338px;
    }
    .rugby p {
        width: 338px;
        line-height: 1;
    }
    .tag-pic {
        width: 85%;
    }
    .container5 {

    }
    .A5 h1 {
        font-family: "Graphik Web", sans-serif;
        font-size: 32px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.2px;
    }
    .A5 p {
        font-family: Graphik Web, Graphik, sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 1.36;
        text-transform: none;
    }
    .y1 {
        border-radius: 0px; 
    }
    .A5 h5 {
        font-size: 12px;
        font-weight: 400;
    }
    
    .two1 button {
        width: 135px;
        border-radius: 0px;
    }
}
@media screen and (max-width: 390px) {
    .lov p {
        
        font-family: "Graphik Web", sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.36;
        letter-spacing: 0;
    }
    .container4 {
        height: 100vh;
    }
    .container6 {
        padding: 20px;
    }
}
@media screen and (max-width: 375px) {
    .container4 {
        height: 165vh;
    }
    .tag-pic {
        gap: 5%;
    }
    .data {
        width: 19%;
    }
    .container6 {
        padding: 5px;
    }
    .rugby {
        height: 100vh;
        background-position: 0px -6rem;
    }
    .talks {
        height: 110vh;
    }

}